:root {
    /* colors */
    --clr-primary:                          #FFFFFF;
    --clr-primary-low-opacity:              #898CA9;
    
    --clr-background:                       #000000;
    --clr-box:                              #1A1B23;
    --clr-link:                             #B982FF;
    --clr-blue-box:                         #18C8FF; /* Edit name variable by Batoul */
    --clr-purble-box:                       #933FFE; /* Edit name variable by Batoul */
    --clr-text:                             #898CA9; /* added by Batoul */
    --clr-neutral-300:                      #1D1C1C;
    --clr-neutral-200:                      #696969;
    --clr-neutral-100:                      #D9D9D9;
    --clr-neutral-100-low-opacity:          #D9D9D91a;
    --clr-border-color:                     #2B2C3B;
    --clr-green:                            #0DBB7C;  /* added by Batoul */
    --clr-red:                              #FF8282;   /* added by Batoul */
    --clr-secondary-text:                   #565976;  /* added by Batoul */
    --clr-secondary-box:                    #16161E;  /* added by Batoul */
    /* font family */
    --font-family: "Inter", sans-serif;
    --secondary-font-family: "Montserrat", sans-serif; /* added by Batoul */
  
    /* font weights */
    --fw-bold: 700;
    --fw-semibold: 600;
    --fw-base: 400;
    --fw-light: 300;
    --fw-extrabold: 800;
    --fw-black: 900;

    --mont-semibold: 600;  /* added by Batoul */
    
    /* border radius */
    --br-large: 20px;
    --br-normal: 10px;
  }
  
  *, 
  *::after, 
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    font-family: var(--font-family);
  }
  body{
    background-color: #0B0B0F;
    position: relative;  /* added by Batoul */
  }
  .navbarss
  {
    width: 100%;
    height: 10vh;
    background: rgb(28, 28, 28);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
.navbarss .HALF-1 ul
{
  height: 100%;
  display: flex;
  color: white;
  justify-content: baseline;
  align-items: center;
}
.navbarss .HALF-1 ul li
{
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


  button:focus {   /* added by Batoul */
    outline: none;
  }
  .fq-nav{
    padding: 20px 20px 20px 50px;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
  }
  .fq-nav .evano{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fq-nav a{
    font-size: 28px;
    text-decoration: none;
    color: black;
    
  }
  .fq-nav .crypto{
    width: 32px !important;
  }
  .fq-nav .crypto12{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px !important;
    height: 32px;
    margin: 0 10px 0 35px;
  }
  .fq-nav .crypto1{
    margin-left: 10px;
  }
  
  .containerThe-all{
    display: flex;
  }
  .fq-conrolpanel{
    width: 550px;

  }
  
  .fq-section {
    display: none ;
    width: 100%;
    height: 90vh;
    background: rgb(28, 28, 28);
    color: white;
  }
  .fq-control-option {
    background-color: whitesmoke;
    width: 550px;
  }
  .fq-control-option button{
    background-color: transparent;
    width: 550px !important;
    height: 22.5vh;
    border: none;
    text-align: start;
    padding-left: 10px;
    font-size: 24px;
    cursor: pointer;

  }
  .fq-control-option .son
  {
    width: 550px;
  }
  .fq-control-option button div
  {
    width: 550px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-200px);
    z-index: 10000 !important;
    transition: .5s !important;
  }
  .fq-control-option button div .moved
  {
    width: 200px;
    z-index: 10000 !important;
    margin: 0 100px 0 100px;
  }
  .fq-activ22
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(100px) !important;
    z-index: 100000;
  }
  .fq-control-option button h5
  {
    display: block;
    transition: .1s;
    transition-delay: 1s !important;
  }
  .fq-blockedone
  {
    display: none !important;
  }
  .fq-control-option img{
    margin-right: 20px;
  }
  .moved img{
    width: 250px;
  }
  

  @media(max-width:1460px){
    .fq-control-option button{
      width: 90.15%;
      padding-left: 5px;
      font-size: 20px;
      margin-bottom:10px;
    }
    .fq-control-option img{
      margin-right: 5px;
      width: 18px;
    }
  }
  @media(max-width:1124px){
    .fq-control-option button{
      font-size: 16px;
      margin-bottom:15px;
    }
    .fq-control-option img{
      margin-right: 5px;
      width: 15px;
    }
    .fq-nav a{
      font-size: 22px;
    }
  }
  @media(max-width:940px){
    .fq-control-option button{
      font-size: 13px;
      margin-bottom:20px;
      height: 36px;
    }
    .fq-control-option img{
      margin-right: 5px;
      width: 15px;
    }
    .fq-active {
    height: 36px !important;
  }
  }
  @media(max-width:850px){
    .fq-control-option button{
      width: 100%;
      font-size: 13px;
      margin-bottom:20px;
      height: 36px;
    }
    .fq-control-option img{
      margin-right: 5px;
      width: 15px;
    }
    .fq-active {
    height: 36px !important;
  }
  .fq-conrolpanel{
    width: 200px !important;
  }
  .fq-conrolpanel{
    width: 160px !important;
  }
  }
  @media(max-width:714px){
    .fq-control-option button {
      width: 100px;
      font-size: 13px;
      margin-bottom:20px;
      height: 36px;
    }
    .fq-control-option img{
      display: none;
    }
    .fq-active {
    height: 36px !important;
  }
  .fq-conrolpanel{
    width: 90px !important;
  }
  .fq-nav a{
    font-size: 20px;
  }
  .fq-nav .crypto{
    width: 28px !important;
    height: 32px;
    margin-right: 10px;
  }
  .containerThe-all{
    display: flex;
    padding:0 10px ;
  }
  }